# Lab

Using the flights dataframe answer the following questions

1. When do the first and last flights leave each day?

2. When there is a missing value in `dep_time` then this is an indication of canceled flight. Find the number of cancelled flights for each (`carrier`, `origin`) combination.

3. Which carrier has the worst `dep_delay`s? 

4. Which plane (`tailnum`) has the worst on-time record?

5. For each plane, count the number of flights before the first delay of greater than 1 hour.

In [1]:
## import pandas
import pandas as pd
## use the url to read the file

url = 'https://raw.githubusercontent.com/msaricaumbc/DS_data/master/nyc_flights.csv'

## read the file
flights = pd.read_csv(url)

In [2]:
#When do the first and last flights leave each day?
agg_1 = flights \
        .groupby(['month','day']) \
        .agg(
            first_flight = ('dep_time', 'min') , 
            last_flight= ('dep_time', 'max') 
        )
agg_1

           first_flight  last_flight
month day
1     1           517.0       2356.0
      2            42.0       2354.0
      3            32.0       2349.0
      4            25.0       2358.0
      5            14.0       2357.0
...                 ...          ...
12    27            2.0       2351.0
      28            7.0       2358.0
      29            3.0       2400.0
      30            1.0       2356.0
      31           13.0       2356.0

[365 rows x 2 columns]

In [3]:
#When there is a missing value in dep_time then this is an indication of canceled flight. Find the number of cancelled flights for each (carrier, origin) combination.
def my_func(x):
    return x.isnull().sum()

agg_2 = flights \
        .groupby(['carrier','origin']) \
        .agg(number_of_cancelled_flights = ('dep_time', my_func))
agg_2

                number_of_cancelled_flights
carrier origin
9E      EWR                              68
        JFK                             807
        LGA                             169
AA      EWR                              99
        JFK                             141
        LGA                             396
AS      EWR                               2
B6      EWR                              74
        JFK                             315
        LGA                              77
DL      EWR                              39
        JFK                             100
        LGA                             210
EV      EWR                            2164
        JFK                              82
        LGA                             571
F9      LGA                               3
FL      LGA                              73
HA      JFK                               0
MQ      EWR                             168
        JFK                             327
        LGA                             739
OO      EWR                               0
        LGA                               3
UA      EWR                             435
        JFK                              44
        LGA                             207
US      EWR                              75
        JFK                              26
        LGA                             562
VX      EWR                              10
        JFK                              21
WN      EWR                             105
        LGA                              87
YV      LGA                              56

In [4]:
#Which carrier has the worst dep_delays?
agg_3 = flights \
        .groupby(['carrier']) \
        .agg(avg_dep_delays = ('dep_delay', 'mean')) \
        .sort_values(by = 'avg_dep_delays', ascending = False)
agg_3

         avg_dep_delays
carrier
F9            20.215543
EV            19.955390
YV            18.996330
FL            18.726075
WN            17.711744
9E            16.725769
B6            13.022522
VX            12.869421
OO            12.586207
UA            12.106073
MQ            10.552041
DL             9.264505
AA             8.586016
AS             5.804775
HA             4.900585
US             3.782418

In [5]:
#Which plane (tailnum) has the worst on-time record?
agg_4 = flights \
        .groupby(['tailnum']) \
        .agg(avg_dep_delay = ('dep_delay', 'mean')) \
        .sort_values(by = 'avg_dep_delay', ascending = False)
agg_4

         avg_dep_delay
tailnum
N844MH           297.0
N922EV           274.0
N587NW           272.0
N911DA           268.0
N851NW           233.0
...                ...
N728SK             NaN
N768SK             NaN
N862DA             NaN
N865DA             NaN
N939DN             NaN

[4043 rows x 1 columns]

In [6]:
#For each plane, count the number of flights before the first delay of greater than 1 hour.
def my_func3(x):
    counter = 0
    for value in x:
        if(value >= 1):
            break;
        counter += 1
    return counter

agg_5 = flights \
        .groupby(['tailnum']) \
        .agg(count_of_delayed_flights = ('dep_delay', my_func3))
agg_5

         count_of_delayed_flights
tailnum
D942DN                          0
N0EGMQ                          0
N10156                          1
N102UW                          1
N103US                          5
...                           ...
N997DL                          8
N998AT                          2
N998DL                          2
N999DN                          5
N9EAMQ                          0

[4043 rows x 1 columns]